body{ 
    position: relative;
    
    .bg-ball1{
        background-image: url(../images/ball01.svg);
        background-repeat: no-repeat;
        width:200px;
        height: 360px; 
        background-position: right;
        position: absolute;
        top: calc(100vh - 180px);
        z-index: -999;
        @media(max-width: 375px){
            top: 850px;
            width: 60px;
            height: 200px;
            background-size: 188px;
        }
    }
    .bg-ball2{
        background-image: url(../images/ball02.svg);
        background-repeat: no-repeat;
        width: 200px;
        height: 360px;
        position: absolute;
        right:0;
        top: 1535px;
        z-index: -999;
        @media(max-width: 375px){
            top: 3350px;
            width: 129px;
            height: 225px;
            background-size: 170px;
        }
      
    }
    .bg-ball3 {
        background-image: url(../images/ball03.svg);
        background-repeat: no-repeat;
        width: 150px;
        height: 150px;
        position: absolute;
        left: 50px;
        top: 2560px;
        background-size: 130px;
        z-index: -999;
        @media(max-width: 375px){
            top: 5142px;
            left: 0;
            width: 77px;
            height: 153px;
          
            background-position: right;
        }
    }  
    .btn-top{
    position: fixed;
    right: 136px;
    bottom: 10%;
    z-index: 3;
    @media (max-width:375px) {
        right:500px;
        bottom:100px;
        }
    a{  display: block;
        width: 71px;
        height: 71px;
        border-radius: 50%;
        background-color: $pri-color;
        font-size: 18px;
       
        padding-top: 30;
        @media (max-width:375px) {
            width: 50px;
            height: 50px;
            font-size: 14px;
           
            }
        
    }
   
    }
}   
    
.bg-index{ 
            width: 100vh;
            background-image: url(../images/bg_home.svg);
            background-repeat: no-repeat;
            // background-size: 800px 768px;
            background-position: top right;
            width: 100%;
            height: 768px;
            top: 0;
            .logo{
                 img{
                     width: 180px;
                     height: 40px;
                     vertical-align: middle;
                 }
                
            }     
            .banner{
           
                 margin-bottom: 217px;
                    .banner-info{
                     
                        p{
                            font-size: 18px;
                            color: $pri-color;
                            font-weight: bold;
                        }
                        h2{
                            font-size: 48px;
                            font-weight: bold;
                        }
                        h3{
                            font-size: 20px;
                        }
                    }
                    .header-bg-rob{
                        max-width: 532px;
                        height: 534px;
                    }
                }    
}

@media(max-width:375px){
        .bg-index{
            background-image: url(../images/bg_home_sm.svg);
            background-repeat: no-repeat;
            background-position: 0 320px;
         
            background-size: 400px 300px;
            .logo{
                margin-top:16px;
                margin-bottom: 16px;
                img{
                    width: 130px;
                    height: 24px;
                }
            }
            .banner{
                margin-bottom: 60px; 
                flex-direction: column;
                width: 33.33%;
                   .banner-info{
                    width: 300px;
                    margin-bottom: 32px;
                    p{
                    font-size: 16px; 
                   
                    }
                    h2{
                    font-size: 32px;         
                    }        
                    h3{
                    font-size: 16px;
                   
                    }
                    }
                   .header-bg-rob{
                       width: 304px;
                       height: 305px;
                   }
                     
                    }
            }
}
    
    

    .platform{ 
        .plat-card{
            width: 244px;
            img{
                width: 90px;
                height: 90px;
            }
            p{
                font-size: 22px;
                font-weight: bold;
            }}
    }
    @media(max-width:375px){
        .platform{
                
                margin-bottom: 60px;
                .sub-title{
                    margin-bottom: 32px;
                }
                ul{
                    flex-direction: column;
                    .plat-card{
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        margin-bottom: 24px;
                        img{
                            width: 90px;
                            height: 90px;
                            margin-bottom: 16px;
                        }
                        p{
                            margin-bottom: 16px;
                            font-size: 24px;
                            font-weight: bold;
                        }
                        span{
                            color: #747474;
                                    }
                    }
               } 
                    }
   
                }    

    .role{
        .sub-title{
            font-size: 32px;
            font-weight: bold;
                }
        p{
            font-size: 20px;
            text-align: center;
                  }
        .role-card{
            background-color: #fff;
            width: 260px;
            text-align: center;     
            border-radius: 25px;
            box-shadow: 5px 5px 10px rgb(227, 225, 225);
            img{
               border-radius: 12px 12px 0 0;
               vertical-align: middle;
               }
            .role-info{
                margin-bottom: 24px;
                p{
                color: $pri-color;
                padding-top: 16px;
                padding-bottom: 16px; 
                }
            }
              
            } 
    }  
    @media (max-width: 375px){
        .role{ 
        .sub-title{ 
            font-size: 28px;
            margin-bottom: 16px;
           }
        p{
            font-size: 18px;
          }
        .role-cards{
            flex-direction:column;
            align-items: center;
           }
        
           .role-card{
            margin-bottom: 24px;
           }
         }
    }

    .features{
        .ft-card{
            width: 230px;
            height: 280px;
            padding: 32px 32px 48px 32px;
            box-shadow: 0px 2px 10px #00000014;
            border-radius: 12px;
            margin-bottom: 28px;
            img{
                width: 86px;
                height: 86px;
                border-radius: 50%;
                box-shadow: 0 2px 10px #00000014;
                margin-bottom: 24px;}
            p{
                font-size: 18px;
                font-weight: bold;
                margin-bottom: 16px;}
            }
        
       
        .ft-info{
            width: 395px;
       
        // align-items: center;沒有反應只好用margin去推高度置中
            margin-top: 165px;
            margin-left: 90px;
            h2{
                font-size: 32px;
                font-weight: bold;
                margin-bottom: 16px;}
            span{
             margin-bottom: 24px;
            }
            
        }
    }
    @media(max-width: 375px){
            .features{
                margin-bottom: 60px;
                .row{
                    flex-direction: column-reverse;
                    .ft-info{
                     text-align: center;
                     margin: 0 20px 32px 20px;
                     h2{
                    font-size: 28px;
                     }
                     p{
                    font-size: 16px;
                    margin-bottom: 16px;
                     }   
                }
                     }   
                     .btn2{
                    margin-left: 100px;
                    margin-right: 100px;
                    margin-bottom: 32px;
                     }
                    }
                    .ft-cards{
                      align-items: center;
                      .row{
                       margin: 0 52px 24px 52px;
                        .ft-card{
                         margin-left: 22px;
                         margin-bottom: 24px;
                         img{
                             width: 86px;
                             height: 86px;
                             }
                         p{
                             margin-bottom: 20px;
                         }
                         span{
                            font-size: 16px;
                          
                           }
                        }
                      }
                      
                    }
    }    
   
    .review
     {
        h2{
            font-size: 32px;
            font-weight: bold;
        }
       ul{

       
       .review-card{
                width: 353px;
                height: 304px;
                margin-top: 56px ;
                margin-right:16px;
       
                
                .review-info{
                    
                    position: relative;
                    padding: 48px 32px 24px 32px;
                    border-radius: 12px;
                    box-shadow: 0 2px 10px #00000014;
                    .user-img{
                      position: absolute;
                      width: 80px;
                      height: 80px;
                      border-radius: 50%;
                      box-shadow: 0 2px 10px #00000014;
                      top: -55px;
                      left: 1px;
                     }
                     hr{
                         color: #DDDDDD;
                         margin-bottom: 24;
                     }
                     
                        .user-firm{
                            font-weight: bold;
                        }
                        .stars{
                            width: 122px;
                            height: 16px;
                            .review-star{
                            width: 16px;
                            height: 16px;
                         
                           }}
               }
                     
                    
            }
        }
    /* 將底部 pagination 分頁的 active 狀態改為想要的樣式 */
    .swiper-pagination-bullet-active{
    width: 20px;
    border-radius: 8px;
    background-color: yellow;
    }
  
    /* 讓分頁圓點移至下方 */
    .swiper-pagination {
    position: static;
    margin-top: 24px;
    }
   
    }
    @media(max-width:375px){
            .review {
               margin-bottom: 60px;
                 h2{
                     font-size: 28px;
                     margin-bottom: 32px;}
                 ul{
                   
                  
                      
                   .review-card{
                    padding: auto;
                    margin-left: 13px;
                    margin-right: 20px;
                    margin-bottom: 24px;
                    .rwd-card{
                        max-width:335px;}
                   
                    .review-info{
                     padding-left: 16px;
                     padding-right: 16px;
                     hr{
                        margin-bottom: 16px;
                     }
                    }
                   }
            }}
      }
    
    .footer-banner{
      background-image: url(../images/home_footer.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom center;
      margin-top: 100px;
      .footer-text {
          padding-top: 500px; 
          h2{
            font-size: 32px;
            font-weight: bold;
            }
          a{
            margin-bottom: 100px;
           }
       }
        // 讓滿版有高度可直接設定高 或是使用padding推出高度    
         // padding: 260px 471px 100px 471px; 
    }
    @media(max-width: 375px){
        .footer-banner{ 
            height: 461px;
            margin-top: 0;
            .footer-text {
                padding-top: 300px;
                h2{
                font-size: 24px;
                margin-bottom: 24px;
                }
            }  
        }
    } 
    .footer{
            background: #F5F5F5;
            } 



 // index 2 index 2 index 2 index 2 index 2 index 2 index 2 index 2 index 2
//    banner
.bg-index-pkg{
    position: relative;
        background-image: url(../images/banner.svg);
        background-repeat: no-repeat;
        background-position: 90% 0;
        
        .pkg_bg-ball3{
            background-image: url(../images/ball03.svg);
            background-repeat: no-repeat;
            width: 361px;
            height: 361px;
            position: absolute;
            top: 774px;
            background-position: -270px;
            background-size: cover;
            z-index: -999;
            @media(max-width:376px){
                width: 260px;
                height: 300px;
                top: 1320px;
                background-position: -174px;
                background-size: 280px;

            }
           
            
    }
        
      
        @media(max-width:375px){
            background-image: url(../images/banner_sm.svg);
            background-position: 0 100px;
            }
}
    

header{
    margin-bottom: 100px;
    .banner-text{
        height: 280px;
        margin-top: 92px;
        h2{
            font-size: 48px;
            font-weight: bold;
            margin-bottom: 16px;
            }
    }
   }
 @media(max-width:375px){
    header{
        margin-bottom: 60px;
        padding-bottom:8px;
        img{
            width: 130px;
    height: 24px;
        }
        .banner-text{
        margin-top: 48px;
        height: 430px;
        
        h2{
            font-size: 32px;
        }
        }
     }
 }

// 價位試算表
   .pkg{
       h2{
           font-size: 32px;
           font-weight: bold;
           margin-bottom: 48px;
           text-align: center;
       }
       .pkg-item{
               border-radius: 27px;
               padding: 12px 32px;
               color: $pri-color;
               border: 1px solid $pri-color;
               &:hover{
                background-color: $pri-color;
                color: white;
               }
               a{
                font-size: 18px;
               }
         }
      .pkg-cards{
       .pkg-card{
           max-width: 44%;
           border-radius: 12px;
           box-shadow: 0 2px 10px #00000014;
           padding: 10px 23px 0 23px;
           margin-right: 21px;
           h3{
               font-size: 24px;
               font-weight: bold;
           }
           .pkgNo{
              .userNo{
               background-color: $sec-color;
               width: 169px;
               border-radius: 12px;
               padding: 23px 32px;
               small{
                   font-size: 12px;
               }
               .user-number{
                   font-size: 32px;
                   color: $pri-color;
                   sub{
                       font-size: 12px;
                   }
               }
              
              .total{
                font-size: 29px;
                color: #000;
              }
              .basic-m, .stand-m{
                font-size: 32px;
                sub{
                    font-size: 12px;
                }
               }
              }
           }
           .pkg-info{
               a{
                color: #000;
                .check{
                   width: 20px;
                   height: 16px;
                   margin-right: 16px;
                 }
               }
                 
           }
           .btn-try{
            margin: 35px 109px 32px 102px
        }
        
        ;
           }
               
        }
    }

   @media(max-width:375px){
    .pkg{
        margin-bottom: 60px;
       h2{
        font-size: 28px;
        margin-bottom: 24px;
       }
         .pkg-items{
           overflow-x: scroll;
        li{
            padding: 8px 16px;
            a{
                font-size: 16px;
                display: block;
                width: 100px;
                text-align: center;
               
                }
            }
          }
         .pkg-cards{
          
           flex-direction: column;
         
         .pkg-card{
            max-width: 100%;
        border-radius: 12px;
        box-shadow: 8px 2px 10px #00000014;
        padding-right: -16px;
        padding-left: -16px;

       
        h3{
        font-size: 24px;
        padding: 16px;
        }
        hr{
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 24px;
        }
        .btn-try{
            margin: 0 0px 24px 83px;;
           }
           
        .pkgNo{
           margin-bottom: 27px;
          
           .userNo{
               height: 89px;
               width: 139px;
               padding: 12px 8px;
               span{
                 font-size: 12px;
                }
               .user-number, .basic-m{
                   width: 95px;
                   height: 90px;
                   font-size: 28px;
                 
               }
              
              
               }

             
           }
           .total{
            margin-right: 6px;
            margin-left: 6px;
           }
         }
        .pkg-info{
           margin-bottom: 35px;
           li{
            font-size: 14px;
               a{
                  
                   .check{
                       margin-right: 16px;
                   }
               }
           }
         }



         }
     } }



// Q & A Q & A Q & A Q & A Q & A Q & A Q & A Q & A Q & A Q & A Q & A Q & A
.change_color{
    color: $pri-color;
}

.faq{
    
    h3{
        font-size: 32px;
        text-align: center;
      
    }
   
    .faq_title{
        border-radius: 12px;
        box-shadow: 0px 2px 10px #00000014;
        padding:16px 32px;
        margin-bottom: 16px;
        &:hover{
            cursor: pointer;
        }
       
           }
        h4{
            font-size: 18px;
            color: #000;
        }
        img{
            width: 20px;
            height: 20px;
           
            }

        .ans{  
            padding: 0 32px 32px 32px;
           
        
        }
    .close{
        display: none;
        margin:27px 16px
        }
    .ans{
        display: none;
       
    }
    .active-show{
        display: block;
        
    }
    .active-none{
        display: none;
    }
    }

@media(max-width:375px){
        .faq{
        margin-bottom: 60px;
         h3{
        font-size: 28px;
        margin-bottom: 32px;
        }
        .faq_title{ 
            justify-content: space-between;
            h4{font-size: 16px;
                margin: 16px;
               }
                img{
                  
                        width: 16px;
                        height: 16px;
                     
                }
          }
        .ans{
      
            display: none;
            margin: 0 16px;
            padding-bottom: 24px;
           
        }
      }
    }



.footer{
    background-color: #F5F5F5;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 16px;
}

.btn-top{
    width: 71px;
    height: 71px;
    border-radius: 50%;
    position: fixed;
    right: 50px;
    bottom: 20%;
    
    a{color: #ffffff;
        background-color: $pri-color;
    
        font-size: 18px;
        font-weight: bold;
        text-align: center;
        line-height: 71px;
    }
    
}
@media(max-width:375px){
    .btn-top{
        width: 50px;
        height: 50px;
        right: 10px;
        bottom: 5%;
        
        a{
        
            line-height: 2.5;
        }
        
    }
}
